<div class="card mb-4">
  <div class="card-header">
    <h5 class="card-title">
      <%= Spree.t('multivendor.business_information') %>
    </h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <%= f.spree_text_field :legal_name %>
        <%= f.spree_select :business_type,
            options_for_select([[Spree.t(:select_business_type), '']] + Spree::Vendor::BUSINESS_TYPES.map { |type| [type, type] }, @vendor.business_type),
            {}, { required: true } %>
        <%= f.spree_text_field :registration_number %>
        <%= f.spree_text_field :trade_name %>
      </div>
      <div class="col-md-6">
        <%= f.spree_date_field :incorporation_date %>
        <%= f.spree_select :country_code,
            options_from_collection_for_select(Spree::Country.order(:name), :iso, :name, @vendor.country_code),
            { prompt: Spree.t(:select_country) }, { required: true } %>
        <%= f.spree_text_field :state_province %>
        <%= f.spree_text_field :city %>
      </div>
    </div>
  </div>
</div>

<div class="card mb-4">
  <div class="card-header">
    <h5 class="card-title">
      <%= Spree.t('multivendor.business_address') %>
    </h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <%= f.spree_text_field :address_line1 %>
        <%= f.spree_text_field :address_line2 %>
      </div>
      <div class="col-md-6">
        <%= f.spree_text_field :postal_code %>
      </div>
    </div>
  </div>
</div>

<div class="card mb-4">
  <div class="card-header">
    <h5 class="card-title">
      <%= Spree.t('multivendor.contact_information') %>
    </h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <%= f.spree_text_field :phone_number, input_type: :tel %>
        <%= f.spree_text_field :website_url, input_type: :url %>
      </div>
      <div class="col-md-6">
        <%= f.spree_select :user_id,
            options_from_collection_for_select(Spree.user_class.order(:email), :id, :email, @vendor.user_id),
            { prompt: Spree.t(:select_user_account) }, { required: false } %>
        <%= f.spree_select :state,
            options_for_select(Spree::Vendor::STATES.map { |state| [state.titleize, state] }, @vendor.state),
            {}, { required: true } %>
      </div>
    </div>
  </div>
</div>