<div class="flex flex-col gap-2 my-4">
  <%- if controller_name != 'user_sessions' %>
    <%= link_to Spree.t(:login), new_session_path(resource_name) %>
  <% end %>
  <%- if devise_mapping.registerable? && controller_name != 'user_registrations' %>
    <%= link_to Spree.t(:sign_up), new_registration_path(resource_name) %>
  <% end %>
  <%- if devise_mapping.recoverable? && controller_name != 'user_passwords' && controller_name != 'user_registrations' %>
    <%= link_to Spree.t(:forgot_password), new_password_path(resource_name) %>
  <% end %>
  <%- if devise_mapping.confirmable? && controller_name != 'user_confirmations' %>
    <%= link_to Spree.t(:didn_t_receive_confirmation_instructions), new_confirmation_path(resource_name) %>
  <% end %>
  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'user_unlocks' %>
    <%= link_to Spree.t(:didn_t_receive_unlock_instructions), new_unlock_path(resource_name) %>
  <% end %>
  <%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%- if provider.to_s == 'google_oauth2' && respond_to?(:google_oauth_login_button) %>
        <!-- Custom Google OAuth Button with proper styling -->
        <div class="mt-4">
          <div class="relative">
            <div class="absolute inset-0 flex items-center">
              <div class="w-full border-t border-gray-300"></div>
            </div>
            <div class="relative flex justify-center text-sm">
              <span class="px-2 bg-white text-gray-500">Or continue with</span>
            </div>
          </div>
          <div class="mt-4">
            <%= google_oauth_login_button %>
          </div>
        </div>
      <%- else %>
        <%= button_to Spree.t(:sign_in_with_provider, provider: OmniAuth::Utils.camelize(provider)), omniauth_authorize_path(resource_name, provider), data: { turbo: false } %>
      <%- end %>
    <% end %>
  <% end %>
</div>
